# Data wrangling

Welcome to the fourth week of the course. By the end of this week, you should acquire:

**Knowledge on**:

* Data wrangling principles and practices
* Filtering, changing, grouping and joining data
* The pandas package


**Skills on**:

* Data wrangling principles and practices
* Filtering, changing, grouping and joining data
* The pandas package

# Working with pandas

In [ ]:
import pandas as pd
#Creating dataframes with pandas
data = [['tom', 10], ['nick', 15], ['juli', 14]]

In [1]:
import pandas as pd

In [ ]:
pd.

In [2]:
#Importing data with pandas is incredibly easy
#Notice the sep argument, which stands for separator
tweets = pd.read_csv("tweets.csv")

In [ ]:
#Writing data with pandas is also very easy
dataset.to_csv("filename.csv", sep="....")

# Pickles are useful for writing tuples, lists and dicts, but can also read dataframes

In [ ]:
import pickle
your_data = {'foo': 'bar'}
# Store data (serialize)
with open('filename.pickle', 'wb') as handle:
    pickle.dump(your_data, handle)

# Load data (deserialize)
with open('filename.pickle', 'rb') as handle:
    my_data = pickle.load(handle)

my_data

In [ ]:
user_sessions=pd.read_pickle("user_sessions.pkl")
user_sessions

# Wrangling 101

In [3]:
#Get a feel for your dataset 
tweets.head()

   metric_retweet_count
0                   208
1                     0
2                  2011
3                     4
4                    64

In [ ]:
#print out all column names and see if there are any surprises

In [ ]:
#Check column types

Notice above that last_judgement_at should really be a date of some kind, but it is not.

In [ ]:
#Get a sense of the NA distribution in your dataset NaN

In [ ]:
#Drop missing values in a specific column

In [ ]:
tweets.columns

# Filtering, selecting and renaming

Sometimes the dataset that you are working with contains lots of unncessery data. You will often want to filter (or subset) your dataset to include only: 
* some rows
* some columns 
* some values

In [ ]:
#Let's start with dropping some rows since this dataset is quite large for dealing with 
tweets = tweets[:100]

In [ ]:
tweets = tweets[0:50]
len(tweets)

In [ ]:
#Sometimes we want to drop certain column because we will not need them
#Notice the inplace approach to dropping columns in the book. Inplace can come in handy in many cases

In [ ]:
#We can alterntively choose which columns to keep

In [ ]:
#To do that we may need to change the column type 

#Note that when subsetting with multiple conditions, we must use the & operator

In [ ]:
apple_tweets.head(60)

In [ ]:
#Sometimes we may only want to keep rows with certain values 
tweets_long = tweets[tweets['text'].str.len() > 20]
len(tweets_long)

In [ ]:
#Renaming columns

# Merging

In [ ]:
users = pd.read_csv("users.csv")

In [ ]:
#Merging on different keys - left

In [ ]:
#Merging on different keys - right

In [ ]:
#Merging on different keys - outer

In [ ]:
#Merging on different keys - inner

In [ ]:
#Concatenating 
apple_3 = pd.read_csv("apple_3.csv", sep=';')
apple_4 = pd.read_csv("apple_4.csv", sep=';')

full = pd.concat([apple_3, apple_4])
len(apple_3)

In [ ]:
len(apple_4)

In [ ]:
#len(full) = len(apple_3) + (apple_4)
len(full)